{% extends 'base.html' %}

{% block content %}
    <div class="android-customized-section">
        <div class="android-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Add New Contact</div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="name">
    <label class="mdl-textfield__label" for="name">Name</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="email">
    <label class="mdl-textfield__label" for="email">Email Address</label>
  </div>
</form>
        </div>
        <div class="android-customized-section-image"></div>
    </div>
{% endblock %}