{% extends 'base.html' %}

{% block content %}
    <div class="android-customized-section">
        <div class="android-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Save Contacts on the go</div>
            <p class="mdl-typography--font-light">
                Save your contact with this django app, made with love to everyone who needs to save a contact email address and name for whatever purpose ever
                <br>
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">View List</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add Contact</button>
            </p>
        </div>
        <div class="android-customized-section-image"></div>
    </div>
{% endblock %}